@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --text: #fff;
  --app-bg: #0b0b0b;
  --tabs-bg: #131313;
  --header-bg: #111111;
  --action-bg: #171717;
  --action-bg-active: #1d1d1d;
  --action-text: #fff;
  --bg: #0d0d0d;
  --website-bg: #9f0017;
  --website-border: #b51026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text);
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 706px;
  height: 560px;
  background-color: var(--app-bg);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
  height: 62px;
  display: flex;
  align-items: center;
  background: var(--header-bg);
  padding: 0 16px;
  justify-content: space-between;
}

header h1 {
  font-size: 20px;
  color: var(--text);
  font-family: "Lora", serif;
  font-weight: 400;
  margin-left: 5px;
}

header .logo {
  font-kerning: 20px;
  font-weight: 400;
  color: var(--text);
  display: flex;
  align-items: center;
}

header .logo .logo-bg {
  width: 35px;
  height: 35px;
  padding: 2px;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

header .logo img {
  width: 25px;
  height: 25px;
}

header .header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .stats-button {
  cursor: pointer;
}

header #streak-status {
  font-size: 16px;
}

#tabs {
  display: flex;
  align-items: center;
  height: 36px;
  width: 100%;
  background: var(--tabs-bg);
}

#tabs .tab {
  width: 95px;
  text-align: center;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  background: var(--action-bg);
  color: var(--text);
}

#tabs .tab.active-tab {
  background: var(--action-bg-active);
  color: var(--action-text);
}

.page {
  width: 100%;
  height: 100%;
  padding: 30px;
}

.page.hidden-page {
  display: none !important;
}

#main-page #options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text);
}

#main-page #focus-settings .title {
  margin-bottom: 10px;
}

#main-page #options .title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
}

#main-page #options .option {
  display: flex;
  align-items: center;
  gap: 8px;
}

#main-page #options .option p {
  font-size: 16px;
  font-weight: 300;
}

.list-page p {
  font-weight: 500;
}

.form {
  width: 100%;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.form input {
  margin-top: 10px;
  width: 90%;
  height: 30px;
  background: none;
  color: var(--text);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--text);
}

.form button {
  background: none;
  height: 20px;
  width: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.form button img {
  width: 20px;
  height: 20px;
}

.website-list {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.website-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  min-height: 30px;
  font-size: 14px;
}

.website-list li:hover {
  opacity: 95%;
  border-bottom: 1px solid var(--text);
}

.website-list li button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.website-list li button img {
  width: 20px;
  height: 20px;
}

/* #options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#options .option {
  display: flex;
  align-items: center;
  gap: 10px;
}

#options .option p {
  color: var(--text);
  font-size: 14px;
}

.separator {
  width: 100%;
  border-radius: 10px;
  height: 2px;
  background-color: var(--text);
  margin-top: 20px;
  margin-bottom: 10px;
}

#blocklist p {
  font-size: 12px;
  font-weight: 500;
  color: var(--text);
  margin-bottom: 10px;
}

#blocklist form {
  width: 100%;
  display: flex;
  gap: 2px;
  align-items: center;
}

#blocklist form input {
  width: 90%;
  height: 30px;
  background: var(--action-bg);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--text);
  padding: 8px;
  font-size: 14px;
}

#blocklist form input::placeholder {
  color: var(--text);
  opacity: 0.5;
}

#blocklist form button {
  width: 10%;
  height: 30px;
  background: var(--action-bg);
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#blocklist form button:hover {
  background: var(--bg);
  cursor: pointer;
}

.website-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  list-style: none;
  overflow-y: auto;
  max-height: 220px;
  border-radius: 10px;
  padding: 5px 0;
}

.website-list li {
  width: 100%;
  display: flex;
  gap: 2px;
  height: 30px;
}

.website-list li span {
  width: 90%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: var(--website-bg);
  border: 2px solid var(--website-border);
  outline: none;
  border-radius: 5px;
  color: var(--text);
  font-size: 14px;
}

.website-list li button {
  width: 10%;
  height: 30px;
  background: var(--website-bg);
  border: 2px solid var(--website-border);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.website-list li button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.website-list li button img {
  width: 20px;
  height: 20px;
}

footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

footer button {
  width: 100px;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 500;
  color: var(--text);
}

footer a {
  font-size: 14px;
  color: rgb(185, 185, 255);
  font-style: italic;
}

*/

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--action-bg);
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
